/* Ensure proper sizing and scrolling behavior */
.view-posts-container {
    height: calc(100vh - 150px); /* Adjust based on footer height */
    overflow-y: auto;
  }
  
  /* Adjust spacing */
  .posts-list {
    margin: 20px 0;
  }
  
  /* Ensure proper spacing between individual posts */
  .post-item {
    margin-bottom: 20px;
  }
  
  /* ViewPosts.css */

.view-posts-container {
    padding-bottom: 300px; /* Adjust as needed to create space for the footer */
    margin-left: 30px;
  }
  
  
  .posts-list {
    width: 50%; /* Adjust the width of the posts list */
  }
  
  .post-item {
    margin-bottom: 20px;
  }
  
  .add-post-button {
    width: 5%;
    height: 25%; /* Adjust the width of the button */
    margin-left: 1300px; /* Add some margin between the button and the posts list */
    
  }
  
  .action-button {
    margin-right: 10px; /* Add some margin between action buttons */
  }
  
 
  
 
  
  
  
  .generate-report-button {
    margin-left: 1100px; /* Add some margin between the button and the posts list */
    
    width: 5%;
    height: 25%; /* Adjust the width of the button */
  }
  
  .button-container {
    display: flex; /* Use flexbox to align items */
    margin-left: 1000px;
  }
  
  .add-post-button,
  .generate-report-button {
    width: 30%;
    height: 25%;
  }
  
  .add-post-button {
    margin-left: 130px; /* Adjust the margin between the button and the posts list */
  }
  
  .generate-report-button {
    margin-left: 20px; /* Adjust the margin between the buttons */
  }
  