/* Footer.css */

.footer {
    background-color: #131A2F;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-logo {
    width: 150px; /* Adjust size as needed */
  }
  
  .footer-title {
    color: #fff;
  }
  
  .footer-list {
    color: #ccc;
  }
  
  .footer-social {
    text-align: right; /* Align content to the right */
  }
  
  .footer-social a {
    color: #fff;
    margin-left: 10px; /* Adjust spacing between social media icons */
  }
  
  .footer-social a:hover {
    color: #ccc;
  }
  